/* Write your code here. */
.winorlostcard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.winorlostimage {
  height: 400px;
  width: 300px;
}
.currentscorelabel{
color: black;
  font-weight: bold;
  font-size: 35px;
}
.currentscorevalue{
  color: black;
  font-weight: bold;
  font-size: 35px;
}